html
	head
		title Chess Puzzle Recorder
		link(href="/static/css/chessboard.css", rel="stylesheet")
	body
		div(id="board", style="width:400px")
		br
		input(type="button", id="startBtn", value="Starting Position")
		input(type="button", id="clearBtn", value="Clear Board")
		br
		br
		form(method="post", action="/", onsubmit="submitForm()", style="font-family:Courier")
			input(type="button", id="recordBtn", value="Start Recording")
			input(type="submit", id="commitBtn", value="Commit Problem", style="display: none")
			br
			br
			input(style="display:none", id="fen", name="fen")
			input(style="display:none", id="moves", name="moves")
			div
				label(for="problemid") Problem #: 
				input(type="text", id="problemid", name="problemid", required)
				label(for="first") &nbsp;&nbsp;First to Move:&nbsp;
				select(id="first" name="first")
					option(value="White to move") White
					option(value="Black to move") Black
			div
				label(for="type") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Type: 
				select(id="type" name="type")
					option(value="Mate in one") Mate in One
					option(value="Mate in three") Mate in Three
					option(value="Mate in two") Mate in Two
		script(src="https://code.jquery.com/jquery-3.3.1.min.js")
		script(src="/static/js/chessboard.js")
		script(src="/static/js/display.js")